 
   <!-- Custom fonts for this template-->
  <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css' ) }}" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{{ url_for('static', filename='css/sb-admin-2.min.css' ) }}" rel="stylesheet">

  
 <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="/">
        <div class="sidebar-brand-icon rotate-15">
          <i class="fab fa-instagram"></i>
        </div>
        <div class="sidebar-brand-text mx-1">Instabot<sup>AI</sup></div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="/">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        Bots
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
          <i class="fa fa-heart" aria-hidden="true"></i>
          <span>Like</span>
        </a>
        <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="/like_comments">Like Comments</a> 
            <a class="collapse-item" href="/like_following">Like Following</a>
            <a class="collapse-item" href="/like_followers">Like Followers</a>
            <a class="collapse-item" href="/like_hashtags">Like Hashtags</a>


          </div>          
       

        </div>
      </li>

      <!-- Nav Item - Utilities Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-video"></i>
          <span>Stories</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <a class="collapse-item" href="/watch_infinity_stories">Watch Infinity Stories</a>
          </div>
        </div>
      </li>
      <!-- Nav Items - Support us -->
      <li class="nav-item">
        <a class="nav-link" href="/multibot">
          <i class="fas fa-fw fa-grin-hearts"></i>
          <span>MultiBot</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        USEFUL LINKS
      </div>

      <!-- Nav Items - Support us -->
      <li class="nav-item">
        <a class="nav-link" href="https://www.patreon.com/steffanjensen">
          <i class="fas fa-fw fa-grin-hearts"></i>
          <span>Support Us</span></a>
      </li>

      <!-- Nav Item - Telegram -->
      <li class="nav-item">
        <a class="nav-link" href="https://web.telegram.org/#/im?p=@instabotai">
          <i class="fab fa-fw fa-telegram"></i>
          <span>Telegram</span></a>
      </li>

      <!-- Nav Item - Github -->
      <li class="nav-item">
        <a class="nav-link" href="https://github.com/instabotai/">
          <i class="fab fa-fw fa-github"></i>
          <span>Github</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) -->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>